/* root: https://www.google.com/ */
.jsb
{
    display: none !important;
}

div#gb
{
    display: none !important;
}

div#footer
{
    display: none !important;
}

div#footcnt
{
    display: none !important;
}

div#prm-pt
{
    display: none !important;
}

/* maps: https://www.google.com/maps/ */
.scene-footer-container.noprint
{
    display: none !important;
}
