metabar-inner {
  display: none !important;
 }
 promo promo--hero {
  display: none !important;
 }
 sidebar js-sidebar {
  display: none !important;
 }
 u-fixed u-bottom0 {
  display: none !important;
 }
 js-postFooterPlacements {
  display: none !important;
 }
 followState {
  display: none !important;
 }
 u-floatRight buttonSet {
  display: none !important;
 }
