m-ad m-ad__zone-1a m-ad__leaderboard {
	display: none !important;
 }
 m-entry-slot -ad {
	display: none !important;
}
m-ad m-ad__zone-3 {
	display: none !important;
}
m-entry-slot emc-content-promo {
	display: none !important;
}
m-ad m-ad__zone-5 {
	display: none !important;
}
m-footer {
	display: none !important;
}
m-header__social {
	display: none !important;
}
